.color-tile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  background-color: var(--figma-color-bg-hover);
  width: 100%;
}

.color-tile .label {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
