:root {
  --universal-border-radius: 4px;
  --button-back-color: #fff;
  --button-fore-color: #333;
  --button-border-color: #333;
  --button-hover-back-color: #fff;
  --button-hover-fore-color: #333;
  --button-hover-border-color: #333;
  --input-focus-color: #18a0fb;
  --card-back-color: var(--figma-color-bg);
  --card-fore-color: var(--figma-color-text);
  --card-border-color: var(--figma-color-border);
  --input-back-color: var(--figma-color-bg);
  --input-fore-color: var(--figma-color-text);
  --input-border-color: var(--figma-color-border);
  --container-max-height: 440px;
  --container-padding-bottom: 60px;
}

button.primary {
  --button-back-color: #18a0fb;
  --button-border-color: #18a0fb;
  --button-fore-color: #fff;
  --button-hover-back-color: #18a0fb;
  --button-hover-border-color: #18a0fb;
  --button-hover-fore-color: #fff;
}

body {
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
}
